/** {
 font-family: Arial, sans;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
}*/
/*h1 {
 margin: 1em 0;
 text-align: center;
}*/
#container {
 margin: 0 auto;
 width: 100%; /* Ancho del contenedor */
}
#container #tab-1,#container #tab-2,#container #tab-3  {
 height: 1.7em;
 visibility: hidden;
}
#container label {
 background: #f4f7ff; /* Fondo de las pestañas */
 border-radius: .25em .25em 0 0;
 color: #888; /* Color del texto de las pestañas */
 cursor: pointer;
 display: block;
 float: left;
 font-size: 1em; /* Tamaño del texto de las pestañas */
 height: 2.5em;
 line-height: 2.5em;
 margin-right: .25em;
 padding: 0 1.5em;
 text-align: center;
}
#container input:hover + label {
 background: #d5e2f2; /* Fondo de las pestañas al pasar el cursor por encima */
 color: #666; /* Color del texto de las pestañas al pasar el cursor por encima */
}
#container input:checked + label {
 background: #d5e2f2; /* Fondo de las pestañas al presionar */
 color: #444; /* Color de las pestañas al presionar */
 position: relative;
 z-index: 6;
}
#content {
 background: #f4f7ff; /* Fondo del contenido */
 border-radius: 0 .25em .25em .25em;
 min-height: 35em; /* Alto del contenido */
 position: relative;
 width: 100%;
}
#content div {
 padding: 1.5em;
}
#content-1 {
 clear: both;
 margin-bottom: 0em;
 width: 95%;
 opacity: 0;
 position: absolute; 
}

#content-2{
 clear: both;
 margin-bottom: 0em;
 width: 95%;
 height: 380px;
 opacity: 0; 
 position: absolute; 
}

#content-2 span.subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align:left;
    float:left;
    width: 50%;
    color:#A0A0A0;
    margin-top: 10px;
}

#content-2 span.btn_agregar{
     margin-top: 10px;
    float: right;
    width: 50%;
}

#content-2 .tab_estudios,.tab_empresa,.tab_idiomas,.tab_sociedades,.tab_experiencia{
    float: clear;
    display: none;
    align:left;
}

#content-2 .lst_estudios{
    align:left;
    height: auto;
}

#content-2 span h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    text-align:left;
    margin-top: 5px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 15px;
    align:left;
}

#content-2 span h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align:left;
    padding-left: 0px;
    color:#000;
}

/*#content-2 p {
 float: left;
 width: 48.5%;
}
#content-2 p.column-right {
 margin-left: 3%;
}
#content-2 p img {
 display: block;
 margin: 0 auto 1em auto;
}*/
#content-3 p,
#content-3 ul {
 margin-bottom: 1em;
}
#content-3 ul {
 margin-left: 2em;
}
#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3 {
 opacity: 1;
}